<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>조회</title>
    <style>
        .table{
        border:2px solid;
        border-collapse:collapse;
        text-align:center;

        }
        td,th{
        border:2px solid;
        padding: 5px 5px;
        width:50px;
        }
    </style>
</head>
<body>
    <table class="table">
        <tr>
            <th>이름</th>
            <th>학년</th>
            <th>반</th>
            <th>번호</th>
        </tr>
        <th:block th:if="${list != null and list.size()>0}" th:each="studentDto : ${list}">
        <tr>
            <td>[[${studentDto.name}]]</td>
            <td>[[${studentDto.grade}]]</td>
            <td>[[${studentDto.ban}]]</td>
            <td>[[${studentDto.bun}]]</td>
        </tr>
        </th:block>
    </table>
</body>
</html>