<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<form id="joinForm" name="joinForm" method="post" action="/student/join"
      enctype="multipart/form-data">
<input type="text" name="name" id="name" placeholder="이름">
    <input type="text" name="grade" id="grade" placeholder="학년">
    <input type="text" name="ban" id="ban" placeholder="반">
    <input type="text" name="bun" id="bun" placeholder="번호">
    <input type="submit" value="로그인">
</form>

</body>
</html>