<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.pp.mapper.StudentMapper">
    <insert id="insertStudent">
        insert into student (name,grade,ban,bun) values(#{name},#{grade},#{ban},#{bun})
    </insert>
    <select id="getAll">
        select * from student;
    </select>
</mapper>